@use "/src/styles/colors";

.container {
  margin-bottom: 5rem;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  font-family: colors.$font_primary;
  color: colors.$text_hint;
}
