@use "../../styles/colors.scss";

.profile-collection-filters {
  font-family: Montserrat;
  display: flex;
  justify-content: flex-end;
}

.select {
  font-size: 0.875rem;
  padding: 0 -2rem;
  font-family: Montserrat;
  font-weight: 500;
  color: colors.$text_hint;
}

@media (max-width: 900px) {
  .profile-collection-filters {
    margin-top: 2rem;
    justify-content: center;
  }
}
