@use "../../styles/colors.scss";

.profile-user {
  position: relative;
  top: 178px;
  margin: auto;
  margin-bottom: 16rem;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 900px) {
  .profile-user h3 {
    font-size: 2rem;
  }
}
