@use "../../styles/colors";

.container {
  display: flex;
  align-items: center;
  font-family: colors.$font_primary;
  max-width: max-content;
  padding-right: 1rem;

  .index {
    width: 90px;
    text-align: center;
    background-color: rgba(colors.$primary_main, 25%);
  }
}

.light {
  background-color: rgba(colors.$primary_main, 20%);
}
