@use "../../styles/colors";

.container {
  display: flex;
  align-items: center;
  font-family: colors.$font_primary !important;
  width: 357px;
  padding-right: 1rem;

  .user {
    max-width: 225px;
  }

  .index {
    width: 90px;
    text-align: center;
    background-color: rgba(colors.$primary_main, 25%);

    h1 {
      font-weight: 900;
      font-size: 1.4rem;
      padding: .6rem 0;
    }
  }
}

.light {
  background-color: rgba(colors.$primary_main, 20%);
}
