@use "../../styles/colors";

.user {
  font-family: colors.$font_primary;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  max-width: 400px;
  align-items: center;
}

.user p {
  margin: 0 0.8rem;
}

.name {
  font-weight: 900;
  margin-top: -0.3rem !important;
}

.info {
  color: colors.$info_main;
  margin-top: 0;
  font-size: 0.95rem;
  font-weight: 600;
}
