@use "../../styles/colors.scss";

.product-info-timer {
  border-radius: 15px;
  height: 118px;
  background-color: rgba(#181828, 30%);
  
  .timer {
    color: rgba(#181828, 90%);
    font-family: colors.$font_primary;
    font-weight: 600;

    .title {
      margin: 0;
      padding: 0.5rem;
      font-weight: 600;
      letter-spacing: 0.5px;
      font-size: 12px;
      text-align: center;
      background-color: rgba(colors.$background_default, 10%);
    }

    .countdown {
      display: block;
      padding: 0.8rem 2rem;
      font-weight: 700;
      font-size: 30.6761px;
      text-align: center;
    }
  }
}

.active {
  background-color: colors.$secondary_main;
}
