@use "../../styles/colors";

.product-tabs {
  font-family: colors.$font_primary;

  .tab-details, .tab-bids {
    color: white;
    font-weight: 600;
    font-size: 0.875rem;
  }

  .details, .bids {
    padding: 0;
  }

  .details {
    margin-top: 2rem;
  }

  .price {
    color: colors.$secondary_main;
    font-weight: bold;
    font-size: 0.875rem;
  }

  .time {
    font-weight: bold;
    font-size: 0.875rem;
  }

  .table-row-0 {
    font-size: 0.875rem;
  }

  td {
    padding: 0;
    border-bottom: none;
  }

  tr:nth-of-type(even) {
    background-color: rgba(colors.$primary_main, 15%);
  }

  tr:nth-of-type(odd) {
    background-color: rgba(colors.$primary_main, 5%);
  }
}
