.container {
  margin: 4rem auto;
}

.item {
  border-radius: 10px;
  transition: all .1s ease-in-out;
 }

 .item:hover {
  transform: scale(1.03);
}

@media (max-width: 1000px) {
  .item {
    width: 100% !important;
  }
}
