@use "../../styles/colors";
$text_primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;

.container {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  background-color: colors.$primary_main;
  font-family: $text_primary;

  h1 {
    margin: 0;
    font-family: inherit;
    font-size: 4rem;
    font-weight: bolder;
  }

  p {
    width: 65%;
    color: colors.$text_secondary;
    font-family: inherit;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    margin-top: 0;
  }

  button {
    font-family: inherit;
    font-size: 1rem;
    font-weight: bolder;
    color: colors.$primary_main;
    background-color: white;
    transition: all .2s ease-in-out;
  }

  button:hover{
    background-color: colors.$background_paper;
    transform: scale(1.1);
  }

  .steps {
    width: max-content;
    display: flex;
    flex-direction: column;
    
    p {
      width: max-content;
      max-width: 400px;
    }

    h1 {
      font-size: 6rem;
      padding: 2rem 4rem;
      border-bottom-left-radius: 30px;
      border-top-left-radius: 30px;
      background-color: rgba($color: colors.$primary_main, $alpha: 0.1);
    }

    h3 {
      width: max-content;
    }
  }
}
