@use '../../styles/colors.scss';

.description {
  margin: 0 auto;
  position: relative;
  bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background-color: colors.$background_paper;
  padding: 3.8rem;
}

.text {
  padding-bottom: 4rem;
}

.image {
  max-height: 250px;
  width: 100%;
  margin: auto;
}

@media (max-width: 1200px) {
  .description {
    width: 90vw;
  }
}

@media (max-width: 520px) {
  .description {
    padding: 1rem;
  }
}

@media (max-height: 700px) {
  .description {
    margin: 3rem auto;
  }
}
