@use "../../styles/colors";

.wrapper {
  padding: 20px;
  background-color: colors.$background_paper;
}

.box {
  background-color: colors.$background_default;
  width: 100%;
  display: flex !important;
  align-items: flex-end;
  justify-content: space-around;
  border-radius: 30px;
  padding: 0 20px 10px 20px;
}

.box label, .box label:active, .box input {
  color: colors.$text_hint !important;
  font-family: colors.$font_primary;
}

.button-wrapper{
  display: flex;
  justify-content: flex-end;
}

.button {
  color: colors.$text_hint !important;
  font-family: colors.$font_primary !important;
  font-weight: 600;
  text-transform: none !important;
}

.buttonLast {
  color: white !important;
  background-color: colors.$primary_main !important;
  font-weight: 700 !important;
}
