@use "../../styles/colors";
$text_primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;

.wrapper {
  padding: 20px;
  background-color: colors.$background_paper;
}

.container {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.box {
  background-color: colors.$background_default;
  width: 100%;
  display: flex !important;
  align-items: flex-end;
  justify-content: space-around;
  border-radius: 30px;
  padding: 0 20px 10px 20px;
}

.box label, .box label:active, .box input {
  color: white !important;
  font-family: $text_primary;
}

.button, .buttonLast {
  color: white !important;
  font-family: $text_primary;
}

.buttonLast {
  background-color: colors.$primary_main !important;
}
