@use "/src/styles/colors";
$primary_font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;

.div {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 3rem;
  background-color: colors.$background_paper;
}

.container {
  padding: 1rem;

  p {
    font-family: $primary_font;
    font-size: 0.9rem;
    color: colors.$text_disabled;
  }
}

.button {
  color: colors.$text_hint !important;
  font-weight: 400 !important;
  font-family: $primary_font;
  text-transform: capitalize !important;
}
