@use "../../styles/colors";

.wrapper {
  display: flex;
  align-items: center;
  background-color: colors.$primary_main;
}

.container {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  font-family: colors.$font_primary;

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    margin: 0;
    font-size: 4rem;
    font-weight: 900;
  }

  p {
    width: 65%;
    color: colors.$text_hint;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-top: 0;
  }

  button {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    color: colors.$primary_main;
    background-color: white;
    padding: 1rem 3rem;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
  }

  button:hover {
    background-color: colors.$background_paper;
    transform: scale(1.1);
  }

  .steps {
    width: max-content;
    display: flex;
    flex-direction: column;

    p {
      width: max-content;
      max-width: 400px;
    }

    h1 {
      min-width: 200px;
      font-size: 6rem;
      font-weight: 700;
      padding: 2rem 4rem;
      text-align: center;
      border-bottom-left-radius: 30px;
      border-top-left-radius: 30px;
    }

    h3 {
      width: max-content;
    }
  }
}

@media (max-width: 1440px) {
  .container {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 0.95rem;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    .steps {
      p {
        max-width: 220px;
        font-size: 0.9rem;
        margin-top: -15px;
      }
      h1 {
        min-width: 120px;
        font-size: 3rem;
        padding: 3.5rem;
      }
    }
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;

    .text-container {
      margin-top: 3rem;
      text-align: center;

      p {
        margin: auto;
      }
    }

    .steps {
      margin: 2rem auto;
      max-width: 300px;

      p {
        font-size: .8rem;
        max-width: 120px;
      }

      h1 {
        font-size: 2rem;
        padding: 6rem 1rem; 
      }

      h3 {
        font-size: 1rem;
        max-width: 120px;
      }
    }
  }
}
