@use "../../styles/colors";

.container {
  display: flex !important;
  align-items: center;
  padding-left: 0 !important;
  margin: 1rem 0;
  background-color: colors.$background_paper;
  border-radius: 30px;
  transition: all .2s ease-in-out;

  h1 {    
    background-color: rgba(colors.$primary_main, 10%);
  }
}

.container:hover {
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .container {
    max-width: 500px !important;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 320px !important;
  }
}
